@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
}

.hero {
    background-color: #1F2937;
    display: flex;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
}

.info {
    display: flex;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.quote {
    background-color: #E5e7eb;
    display: flex;
}

.quote h3 {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.cta {
    background-color: #3882f6;
    display: flex;
}

footer {
    background-color: #1F2937;
}