@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: auto;
    padding-left: 100px;
}

ul {
    list-style-type: none;
    color: #E5E7EB;
    display: flex;
    padding-right: 100px;
    
}

a {
    text-decoration: none;
    padding: 10px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.hero-right {
    display: flex;
    margin: 50px;
}



.info {
    display: flex;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.quote {
    background-color: #E5e7eb;
    display: flex;
}

.quote h3 {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.cta {
    background-color: #3882f6;
    display: flex;
}

.cta button {

}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}