@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}
.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: auto;
    /* padding-left: 100px; */
}

ul {
    list-style-type: none;
    color: #E5E7EB;
    display: flex;
    /* padding-right: 100px; */
    
}

a {
    text-decoration: none;
    padding: 10px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-direction: column;
    /* margin-left: 100px; */
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.hero-right {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}



.info {
    display: flex;
    flex-direction: column;
}

.info-left {
    display: flex;
    justify-content: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 32px;
}

.info-right {
 display: flex;
 justify-content: center;
}

.square-info {
    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 150px;
}



.quote {
    background-color: #E5e7eb;
    display: flex;
    flex-direction: column;

}

.quote h3 {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-style: italic;
}

.quote p {
    text-align: right;
    align-self: auto;
}

.cta {
    background-color: #3882f6;
    display: flex;
}

.cta button {

}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}